/* si un element n'est pas pris en compte on met !important devant ex: color: wrhite !important; */


/* Partie Generale */

body{
    /* sans-serif au cas ou il n'a pas de connexion */
    font-family: "Lato" , sans-serif; 
    background-color: #4C53A5;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
image{
    max-width: 100%;
    height: auto;
}
section{
    padding: 65px 0px 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.divider{
    width: 133px;
    height: 3px;
    background-color: #00ff00;
    margin: 0 auto 20px;
}
ul{
    list-style:none;
}
.button{
    color: #00ff00;
    text-transform: uppercase;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5px;
    padding: 18px 50px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.5s ease-in 0s;
    font-size: 18px;
    background: #00ff00;
    color: darkblue;
}
/* .button:hover{
    
} */

/* NAVBAR */
.navbar{
    background-color: #00ff00;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #00ff00;
}

.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
.nav-link{
    color: #00ff00;
    margin: 0 6px;
}

/* mm elt donc pas d'espace */
.nav-link.active, .nav-link:hover {
    background-color: #00ff00;
    color: darkblue !important;
}

/* ABOUT */
#about {
    /* height: 113vh; */
    background-image: url("../images/c3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5a5c69;
}
#about .heading h3{
    color: #00ff00;
    /* font-size: 30px; */
}

.profile .me{
    max-width:100%; 
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.3);
}
.profile{
    text-align: center;
    margin: 0px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .heading h1{
    color:  #00ff00;
    text-transform: uppercase;
    margin-bottom: 30px;
}




/* SKILLS */
#skills .heading h2{
    color: #00ff00;
}
#skills .progress{
    /* ou bien mettre "... mb-3" dans la classe progress (class="progress mb-3" ) */
    height: 45px;
    margin: 30px 20px;
}
#skills .progress div h6{
    color: #00ff00 !important;
}

#skills .progress:last-child{
    margin-bottom: 0px;
}
#skills .progress-bar h4{
    /* text-shadow: 1px 1px 1px #000; */
    margin-bottom: 3px;
    color: #000;
    font-size: 17px;
    text-align: center !important;
}
/* .bg-success{
    background-color: #00ff00 !important;
} */




/* EXPERIENCE */


#experience .heading h2{
    color: #00ff00;
}
.timeline {
    padding: 30px 10px;
    position: relative;
    color: #fff;

}

.timeline::before{
    /*content:"" -> pr aff c important */
    content: "";
    top:0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #00ff00;
    left: 50%;
    margin-left: -2.5px;
}
/* > -> enfant direct */
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after{
    content: "";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline li .timeline-badge {
    color: #0069d6;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #00ff00;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0, 0, 0.75);
    background-color: #0069d6;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: "";
}
.timeline-panel-container-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: #00ff00;
}
.timeline-heading p{
    color: #fff !important;
}




/* Formation */

#formation .heading h2{
    color: #00ff00;
    margin: 15px 0px;
}

.formation-block{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #0069d6;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: #fff;
}

.formation-block h5{
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px;
}

.formation-block span{
    font-size: 35px;
}

.formation-block h3{
    color: #00ff00;
    margin: 15px 0px;
}

.formation-block h4{
    margin-bottom: 20px;
    font-weight: normal;
}


/* PORTFOLIO */




#portfolio .heading h2{
    color: #00ff00;
}

#portfolio img{
    /* si on a contenair plus gros , l'img devient petit alors pr resoudre se prolbleme : */
    width: 100%;
    height: 100%;

    /* pr rendre l'img noir / blanc */
    /* filter: grayscale(100%); */
    /* -webkit-filter: grayscale(100%); pr la compatibilite sur le nav */
}

#portfolio img:hover{
    /* l'img devient coe avant(en couleur) lors du survol */
    filter: none;
    -webkit-filter: none;
}

#portfolio .col-md-6{
    margin-bottom: 20px;
}



/* CONTACT */
/* .divider
{
    width:100px;
    height: 2px;
    background: #ffa500;
    margin: 0 auto;
}
.heading 
{
    text-align: center;
    margin-bottom: 60px;        
} */
/* h2
{
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
} */
 
#contact{
    background: #0069d6;
    margin-top: 50px;
}
#contact h2{
    color: #00ff00;
}
#contact-form
{
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}
/*---  NEW  ------*/
.blue
{
    color: #0069d6;
}
.form-control
{
    /* height: 50px; */
    font-size: 18px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}
.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button1
{
    border: 1px solid #ddd;
    background: #0069d6;
    color: #fff;
    width: 100%;        
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: #333;
    
}



/* FOOTER */

footer{
    background-color: #333;
    padding: 20px 0 40px;
    text-align: center;
}
footer span{
    color: #0069d6;
    font-size: 29px;
    line-height: 35px;
}
footer span:hover{
    font-size: 32px;
}


footer h5{
    color: #0069d6;
    font-weight: normal;

}
